Source: eglinfo
Section: utils
Priority: optional
Maintainer: Carlos Rafael Giani <dv@pseudoterminal.org>
Build-Depends:
 debhelper (>= 9),
 python,
 pkg-config,
 imx-gpu-viv-fb-dev,
 imx-gpu-viv-x11-dev,
 libx11-dev,
Standards-Version: 3.9.5
Homepage: https://github.com/dv1/eglinfo

Package: eglinfo-fb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, imx-gpu-viv-fb
Description: display EGL information (fb)
 Queries libEGL for display and rendering details. Framebuffer Variant.

Package: eglinfo-x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, imx-gpu-viv-x11
Description: display EGL information (x11)
 Queries libEGL for display and rendering details. X11 Variant.
